* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #f4f6f8;
    color: #333;
    line-height: 1.6;
}

/* Header */
.header {
    background-color: #0f766e;
    /* changement couleur */
    color: white;
    padding: 40px 20px;
    text-align: center;
    position: relative;
}

.header h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.badge {
    display: inline-block;
    margin-top: 10px;
    padding: 6px 14px;
    background-color: #134e4a;
    border-radius: 20px;
    font-size: 0.9rem;
}

/* Navigation */
.nav {
    background-color: #115e59;
}

.nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav li {
    margin: 0 15px;
}

.nav a {
    display: block;
    padding: 15px 0;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/* Main content */
.container {
    max-width: 1000px;
    margin: 40px auto;
    padding: 0 20px;
}

.card {
    background: white;
    padding: 30px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

/* Footer */
.footer {
    background-color: #0f766e;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}